*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
}
.player{
    display: flex;
    flex-flow: column;
    width: 100%;
}
#progress{
    width: 100%;
}
.lower-bar{
    width: 100%;
}
.controls{
    display: flex;
}
