@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'M PLUS 2', sans-serif;
    overflow-x: hidden;
    background-color: #cdeff1;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
.playlist{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    gap: 15px;
    overflow: scroll;
}
.video video{
    width: 100vw;
    
}
.vid{
    cursor: pointer;
}
.vid.active{
    /* border: 2px black solid;
     */
     background-color: #34abf0;
}
h3{
    margin: 1rem;
}
h2{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.vid{
    width: 90%;
    align-items: center;
    display: flex;
    margin: 0 1rem;
    background-color:#a2d4da;
    border-radius: 7px;
    padding: 0.5rem;
}
.vid video{
    width: 15%;
}
